In [6]:
# Import packages

In [2]:
import numpy as np
import pandas as pd

In [4]:
# load dataset

In [18]:
wave_df = pd.read_csv(r"C:\Users\plrcl\Downloads\wave_data.csv")

In [20]:
wave_df.head(10)

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android
5,5,retained,113,103,279.544437,2637,0,0,901.238699,439.101397,15,11,iPhone
6,6,retained,3,2,236.725314,360,185,18,5249.172828,726.577205,28,23,iPhone
7,7,retained,39,35,176.072845,2999,0,0,7892.052468,2466.981741,22,20,iPhone
8,8,retained,57,46,183.532018,424,0,26,2651.709764,1594.342984,25,20,Android
9,9,churned,84,68,244.802115,2997,72,0,6043.460295,2341.838528,7,3,iPhone

In [22]:
wave_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       14999 non-null  int64
 1   label                    14299 non-null  object
 2   sessions                 14999 non-null  int64
 3   drives                   14999 non-null  int64
 4   total_sessions           14999 non-null  float64
 5   n_days_after_onboarding  14999 non-null  int64
 6   total_navigations_fav1   14999 non-null  int64
 7   total_navigations_fav2   14999 non-null  int64
 8   driven_km_drives         14999 non-null  float64
 9   duration_minutes_drives  14999 non-null  float64
 10  activity_days            14999 non-null  int64
 11  driving_days             14999 non-null  int64
 12  device                   14999 non-null  object
dtypes: float64(3), int64(8), object(2)
memory usage: 1.5+ MB

In [24]:
# label column missing 700 values
# review null values

In [26]:
null_data = wave_df[wave_df['label'].isnull()]
null_data.describe()

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,7405.584286,80.837143,67.798571,198.483348,1709.295714,118.717143,30.371429,3935.967029,1795.123358,15.382857,12.125714
std,4306.900234,79.987440,65.271926,140.561715,1005.306562,156.308140,46.306984,2443.107121,1419.242246,8.772714,7.626373
min,77.000000,0.000000,0.000000,5.582648,16.000000,0.000000,0.000000,290.119811,66.588493,0.000000,0.000000
25%,3744.500000,23.000000,20.000000,94.056340,869.000000,4.000000,0.000000,2119.344818,779.009271,8.000000,6.000000
50%,7443.000000,56.000000,47.500000,177.255925,1650.500000,62.500000,10.000000,3421.156721,1414.966279,15.000000,12.000000
75%,11007.000000,112.250000,94.000000,266.058022,2508.750000,169.250000,43.000000,5166.097373,2443.955404,23.000000,18.000000
max,14993.000000,556.000000,445.000000,1076.879741,3498.000000,1096.000000,352.000000,15135.391280,9746.253023,31.000000,30.000000

In [28]:
# review non-null values

In [32]:
non_null = wave_df[~wave_df['label'].isnull()]
non_null.describe()

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000
mean,7503.573117,80.623820,67.255822,189.547409,1751.822505,121.747395,29.638296,4044.401535,1864.199794,15.544653,12.182530
std,4331.207621,80.736502,65.947295,136.189764,1008.663834,147.713428,45.350890,2504.977970,1448.005047,9.016088,7.833835
min,0.000000,0.000000,0.000000,0.220211,4.000000,0.000000,0.000000,60.441250,18.282082,0.000000,0.000000
25%,3749.500000,23.000000,20.000000,90.457733,878.500000,10.000000,0.000000,2217.319909,840.181344,8.000000,5.000000
50%,7504.000000,56.000000,48.000000,158.718571,1749.000000,71.000000,9.000000,3496.545617,1479.394387,16.000000,12.000000
75%,11257.500000,111.000000,93.000000,253.540450,2627.500000,178.000000,43.000000,5299.972162,2466.928876,23.000000,19.000000
max,14998.000000,743.000000,596.000000,1216.154633,3500.000000,1236.000000,415.000000,21183.401890,15851.727160,31.000000,30.000000

In [36]:
# shows small difference between thw two groups
# min most affected

In [38]:
# null values related to devices

In [40]:
null_data['device'].value_counts()

device
iPhone     447
Android    253
Name: count, dtype: int64

In [42]:
# % of nulls per device

In [44]:
null_data['device'].value_counts(normalize = True)

device
iPhone     0.638571
Android    0.361429
Name: proportion, dtype: float64

In [50]:
# review % per device for full dataset

In [48]:
wave_df['device'].value_counts(normalize = True)

device
iPhone     0.644843
Android    0.355157
Name: proportion, dtype: float64

In [52]:
# % comparable between groups

In [54]:
# churned vs. retained

In [58]:
print(wave_df['label'].value_counts())
print(wave_df['label'].value_counts(normalize = True))

label
retained    11763
churned      2536
Name: count, dtype: int64
label
retained    0.822645
churned     0.177355
Name: proportion, dtype: float64

In [60]:
# 82% retained, 18% churned

In [62]:
# calculate medians for churned and retained

In [64]:
wave_df.groupby('label').median(numeric_only = True)

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
label,,,,,,,,,,,
churned,7477.5,59.0,50.0,164.339042,1321.0,84.5,11.0,3652.655666,1607.183785,8.0,6.0
retained,7509.0,56.0,47.0,157.586756,1843.0,68.0,9.0,3464.684614,1458.046141,17.0,14.0

In [66]:
# churned users averaged more drives in the month than retained users
# retained users use the app on more days than churned
# churned users frve ~200 km more and 2.5 hours more than retained users

In [68]:
# median km per drive for retained vs. churned

In [70]:
wave_df['km_per_drive'] = wave_df['driven_km_drives'] / wave_df['drives']
median_km_drive = wave_df.groupby('label').median(numeric_only = True) [['km_per_drive']]
median_km_drive

          km_per_drive
label
churned      74.109416
retained     75.014702

In [74]:
# median for retained is 1 km more per drive than churned

In [82]:
# calculate km per driving days

In [80]:
wave_df['km_per_driving_day'] = wave_df['driven_km_drives'] / wave_df['driving_days']
median_km_driving_day = wave_df.groupby('label').median(numeric_only=True) [['km_per_driving_day']]
median_km_driving_day

          km_per_driving_day
label
churned           697.541999
retained          289.549333

In [88]:
# churned users drove signifcantly longer distances than retained users
# calculate median number of drives per driving day

In [86]:
wave_df['drives_per_driving_day'] = wave_df['drives'] / wave_df['driving_days']

median_drives_per_driving_day = wave_df.groupby('label').median(numeric_only = True) [['drives_per_driving_day']]
median_drives_per_driving_day

          drives_per_driving_day
label
churned                  10.0000
retained                  4.0625

In [96]:
# churned users have significantly more drives per day than retained users
# need to review more information about these users to determine what leads to the increased drives. 
# This information could have significance in why they churn

In [94]:
# determine if devices type has any significance in churn

In [98]:
wave_df.groupby(['label', 'device']).size()

label     device
churned   Android     891
          iPhone     1645
retained  Android    4183
          iPhone     7580
dtype: int64

In [100]:
# calculate % for devices for churned vs retained

In [102]:
wave_df.groupby('label')['device'].value_counts(normalize = True)

label     device
churned   iPhone     0.648659
          Android    0.351341
retained  iPhone     0.644393
          Android    0.355607
Name: proportion, dtype: float64

In [104]:
# % are similar for device types between churned and retained.
# indicates device type is not a factor.

In [106]:
# data indicates drive time and distance has largest significance.
# need to review more information about these users to get better insights.